@import-normalize; /* bring in normalize.css styles */

:root {
  /* Colors */
  --color-primary: #101828;
  --color-secondary: #475467;
  --color-secondary-20: rgba(71, 84, 103, 0.2);
  --color-accent: #e44848;
  --color-white: #ffffff;

  --color-accent-hover: #d84343;

  --color-star: #ffc531;

  --color-light-bg: #f7f7f7;
  --color-dark-bg: #f2f4f7;
  --color-scroll-bg: #d9d9d9;
  --backdrop-bg: rgba(17, 18, 19, 0.4);

  /* Breakpoints */
  --mobile: 360px;
  --tablet: 768px;
  --desktop: 1440px;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-secondary);
  background-color: var(--color-dark-bg);
}
h1,
h2,
h3,
p,
a {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
